<section id="section2">
  <div class="container">
      <h2>À propos de moi</h2>
      <div class="row">
          <div class="col-sm-3">
              <img src="assets/images/man02.png" alt="man" class="img-responsive section-img">
          </div> <!-- end .col-sm-3 -->
          <div class="col-sm-9">
              <h3 class="small-margin-bottom">Karchal Abdelfattah</h3>
              <h5>Conception & études & Développement</h5>
              <p>Ingénieur études et développement, lauréat de l'école marocaine des sciences des ingénieur (EMSI) promotion 2017, option méthode informatique à la gestion des entreprises (MIAGE). </p>
              <div class="signature"><img src="assets/images/signature.png" alt="signature" class="img-responsive"></div>
              <ul class="list-unstyled text-uppercase">
                  <li><b>Date Of Birth:</b> 07 juillet 1993</li>
                  <li><b>Phone:</b> +212-614027854</li>
                  <li><b>Email:</b> abdelfattah59@gmail.com</li>
                  <li><b>Address:</b> 25 rue 2 lot iraki 2 touarga, Meknès, Maroc.</li>
                  <li><b>Website:</b> http://www.example.com</li>
              </ul> <!-- end .list-unstyled -->
              <div class="spacer"></div>
              <h3>CE QUE JE FAIS</h3>
              <div class="row">
                  <div class="col-sm-4">
                      <div class="service">
                          <div class="icon"><i class="ion-monitor"></i></div>
                          <h5>études</h5>
                      </div> <!-- end .service -->
                  </div> <!-- end .col-sm-4 -->
                  <div class="col-sm-4">
                      <div class="service">
                          <div class="icon"><i class="ion-android-laptop"></i></div>
                          <h5>Développement d'application</h5>
                      </div> <!-- end .service -->
                  </div> <!-- end .col-sm-4 -->
                  <div class="col-sm-4">
                      <div class="service">
                          <div class="icon"><i class="ion-android-laptop"></i></div>
                          <h5>Conception</h5>
                      </div> <!-- end .service -->
                  </div> <!-- end .col-sm-4 -->
              </div> <!-- end .row -->
          </div> <!-- end .col-sm-9 -->
      </div> <!-- end .row -->
  </div> <!-- end .container -->
</section>
