<section id="section2">
  <div class="container">
      <h2>À propos de moi</h2>
      <div class="row">
          <div class="col-sm-3">
              <img src="assets/images/man02.png" alt="man" class="img-responsive section-img">
          </div> <!-- end .col-sm-3 -->
          <div class="col-sm-9">
              <h3 class="small-margin-bottom">Karchal Abdelfattah</h3>
              <h5>{{aboutResults.title}}</h5>
              <p>{{aboutResults.description}} </p>
              <div class="signature"></div>
              <ul class="list-unstyled text-uppercase">
                  <li><b>Date Of Birth:</b> {{aboutResults.birthday}}</li>
                  <li><b>Phone:</b> {{contactsResults.phone}}</li>
                  <li><b>Email:</b>  {{contactsResults.email}}</li>
                  <li><b>Address:</b>  {{contactsResults.address}}</li>
                  <li><b>Website:</b> <a href="{{contactsResults.website}}"> {{contactsResults.website}}</a> </li>
              </ul> <!-- end .list-unstyled -->
              <div class="spacer"></div>
              <h3>CE QUE JE FAIS</h3>
              <div class="row">
                  <div class="col-sm-4">
                      <div class="service">
                          <div class="icon"><i class="ion-monitor"></i></div>
                          <h5>études</h5>
                      </div> <!-- end .service -->
                  </div> <!-- end .col-sm-4 -->
                  <div class="col-sm-4">
                      <div class="service">
                          <div class="icon"><i class="ion-android-laptop"></i></div>
                          <h5>Développement d'application</h5>
                      </div> <!-- end .service -->
                  </div> <!-- end .col-sm-4 -->
                  <div class="col-sm-4">
                      <div class="service">
                          <div class="icon"><i class="ion-android-laptop"></i></div>
                          <h5>Conception</h5>
                      </div> <!-- end .service -->
                  </div> <!-- end .col-sm-4 -->
              </div> <!-- end .row -->
          </div> <!-- end .col-sm-9 -->
      </div> <!-- end .row -->
  </div> <!-- end .container -->
</section>
