<footer class="footer">
  <div class="top">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">

                  <h4>Adresse</h4>
                  <p>{{addressCity[0]}}<br />{{addressCity[1]}} {{addressCity[2]}}</p>
              </div> <!-- end .col-sm-4 -->
              <div class="col-sm-4">
                  <h4>Connect</h4>
                  <div class="social-icons">
                      <a href="{{contactsResults.facebook}}" class="social-icon"><i class="fa fa-facebook"></i></a>
                      <a href="" class="social-icon"><i class="fa fa-twitter"></i></a>
                      <a href="{{contactsResults.linkedin}}" class="social-icon"><i class="fa fa-linkedin"></i></a>
                  </div> <!-- end .social-icons -->
              </div> <!-- end .col-sm-4 -->
              <div class="col-sm-4">
                  <h4>Contact</h4>
                  <p>Tel: {{ contactsResults.phone }}<br />Mail: {{contactsResults.email}}</p>
              </div> <!-- end .col-sm-4 -->
          </div> <!-- end .row -->
      </div> <!-- end .container -->
  </div> <!-- end .footer -->
  <div class="bottom">Copyright &copy; Abdelfattah-Karchal. All Rights Reserved.</div> <!-- end .bottom -->
</footer>
