<section id="section1" class="no-padding-bottom active">
  <div class="container">
      <div class="row" >
          <div class="col-sm-7 vertical-center padding-fix" style="margin-top: 150px;" >
              <h1>Concepteur<sup>+</sup> Développeur<sup>+</sup></h1>
              <p>Bonjour, je suis Karchal Abdelfattah. J'ai 2 ans d'expérience dans la conception de base de données et développement informatique. Je travaille sur une variété de sociétés, grandes et petites.</p>
              <p class="button-row"><a href="" class="button solid-button white">Hire Me Now</a><a href="" class="button solid-button purple">Download CV</a></p>
          </div> <!-- end .col-sm-7 -->
          <div class="col-sm-5 vertical-center">
              <img src="../../../assets/image/abdel.jpg" alt="man" class="img-responsive section-img" style="width: 398px; height: 875px !important;">
          </div> <!-- end .col-sm-5 -->
      </div> <!-- end .row -->
  </div> <!-- end .container -->
</section> <!-- end #section1 -->
