<div class="search-overlay"></div>
<div class="search">
    <a href="" class="search-close"><i class="md md-close"></i></a>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h4>Just Start Typing Text and Press Enter</h4>
            <form class="search-form">
                <input type="text" id="search" name="search" class="text-center" />
            </form> <!-- end .search-form -->
        </div> <!-- end .col-sm-6 -->
    </div> <!-- end .row -->
</div> <!-- end .row -->
<!-- Slide Out -->
<app-slide-out></app-slide-out>

 <!-- end .slide-out -->

<!-- Header -->
<app-header></app-header>
 <!-- end .header -->


<!-- Section Navigation -->
<!-- <div class="section-nav">
    <nav class="section1">
        <a href="#section2" class="forward"><i class="md md-chevron-right"></i></a>
        <a href="#section1" class="backward"><i class="md md-chevron-left"></i></a>
    </nav>
</div> end .section-nav -->

<!-- Sections -->
<div class="sections">
  <router-outlet></router-outlet>
        <!-- Home -->
         <!-- #section1 -->
        <!-- <app-home></app-home> -->
         <!-- end #section1 -->

        <!-- About -->
         <!-- #section2 -->
            <!-- <app-about></app-about> -->
         <!-- end #section2 -->

        <!-- Skills -->
         <!-- #section3 -->
        <!-- <app-skill></app-skill> -->
         <!-- end #section3 -->

        <!-- Experience -->
         <!-- #section4 -->
        <!-- <app-experience></app-experience> -->
         <!-- end #section4-->

        <!-- Education -->
         <!-- #section5 -->
       <!-- <app-education></app-education> -->
         <!-- end #section5 -->

        <!-- Portfolio work -->
        <!-- end #section6 -->
        <!-- comming soon -->
        <!-- end #section6 -->
        <!--end work -->

        <!-- Blog -->
         <!-- end #section7 -->
        <!-- comming soon -->
         <!-- end #section7 -->

        <!-- Contact -->
         <!-- #section8 -->
        <!-- <app-contact></app-contact> -->
         <!-- end #section8 -->


</div> <!-- end .sections -->

<!-- Footer -->
<app-footer></app-footer>
 <!-- end .footer -->
